<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Juan Collaguazo
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-titsle size="large">Blank</ion-titsle>
    </ion-toolbar>
  </ion-header>

  <div id="container">
    <strong>Ready to create an app?</strong>
    <p>Start with Ionic <a target="_blank" rel="noopener noreferrer" href="https://ionicframework.com/docs/components">UI Components</a></p>
  </div>

  <div>
    <ion-card>
      <ion-row responsive-sm>
        <ion-col col-12 width-50 text-center>
          <img class="user-avatar round" style="height: auto; max-width: 23vh;" [src]="chosenPicture || placeholder"
               onerror="this.src='https://llanogrande.sadcaf.com.ec/imagenes/equipos/SHYRIS/jugadores/jugador_1725294399.JPG'">

          <ion-icon name="create"></ion-icon>

        </ion-col>
      </ion-row>
      <ion-card-title>PERFIL</ion-card-title>
      <ion-card-content>
        Estudiante de la Universidad Politécnica Nacional del Ecuador en Tecnología Superior de Desarrollo de Software, joven y emprendedor; una persona honesta, comprometida, responsable y dedicada a las labores encomendadas, con buena actitud para el trabajo en equipo y con facilidad para relacionarme.
      </ion-card-content>

      <ion-card-header>
        <ion-card-title>NOMBRE</ion-card-title>
        <ion-card-subtitle>JUAN GABRIEL COLLAGUAZO CAGUA</ion-card-subtitle>
        <ion-card-title>DOCUMENTO DE IDENTIDAD</ion-card-title>
        <ion-card-subtitle>172529439-9</ion-card-subtitle>
        <ion-card-title>FECHA DE NACIMIENTO</ion-card-title>
        <ion-card-subtitle>29 de septiembre del 1996</ion-card-subtitle>
        <ion-card-title>LUGAR DE NACIMIENTO</ion-card-title>
        <ion-card-subtitle>Pichincha, Quito, Ecuador</ion-card-subtitle>
        <ion-card-title>ESTADO CIVIL</ion-card-title>
        <ion-card-subtitle>Soltero</ion-card-subtitle>
        <ion-card-title>DIRECCIÓN</ion-card-title>
        <ion-card-subtitle>Calle García Moreno Oe10-89, Barrio “Llano Grande”, Sector “Parroquia de Calderón”.</ion-card-subtitle>
        <ion-card-title>TELÉFONO</ion-card-title>
        <ion-card-subtitle>022 012 643 / 096 882 5272</ion-card-subtitle>
        <ion-card-title>E-MAIL</ion-card-title>
        <ion-card-subtitle>juancolla123@hotmail.com</ion-card-subtitle>
      </ion-card-header>
    </ion-card>

    <ion-card>
      <ion-item>

        <ion-label>CURSOS</ion-label>

      </ion-item>

    </ion-card>

    <ion-card>
      <ion-item href="#" class="ion-activated">
        <ion-icon name="wifi" slot="start"></ion-icon>
        <ion-label>Cybersecurity Essentials</ion-label>
      </ion-item>

      <ion-item href="#">
        <ion-icon name="wine" slot="start"></ion-icon>
        <ion-label>Introducción a la Seguridad Cibernética</ion-label>
      </ion-item>

      <ion-item class="ion-activated">
        <ion-icon name="warning" slot="start"></ion-icon>
        <ion-label>Gestión de Proyectos conn Metodologías Ágiles y Enfoques Lean</ion-label>
      </ion-item>

      <ion-item>
        <ion-icon name="walk" slot="start"></ion-icon>
        <ion-label>Diseño Web con HTML5 + CSS</ion-label>
      </ion-item>

      <ion-item>
        <ion-icon name="airplane-outline" slot="start"></ion-icon>
        <ion-label>Comunicación y Colaboración en la Era Digital</ion-label>
      </ion-item>


    </ion-card>
  </div>

</ion-content>
